
.list {
	col-between: 20px;
}

textbox {
	width: 1s;
}

hstack {
	height: auto;
	col-between: 10px;
	child-top: 1s;
	child-bottom: 1s;
}

vstack {
	height: 1s;
	row-between: 10px;
}

button {
	width: 1s;
	child-space: 1s;
}

list label {
	width: 1s;
	height: 32px;
	child-left: 5px;
	child-top: 1s;
	child-bottom: 1s;
}

list label:checked {
	background-color: #5050AA40;
}

list {
	border-color: white;
	border-width: 1px;
	width: 1s;
	height: 1s;
}